<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aboreto&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="icon" href="img/red-en-la-nube.ico">



    <title>TP0 Inicial</title>

    <!-- Esto es solamente para la Api de Bitcoin -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Hasta acá -->

    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/e547f827f8.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="contenedor">
        <header class="header encabezado">
            <!-- <h1>logo?</h1> -->
            <br>
            <h1>ENCABEZADO</h1>

        </header>

        <div class="navbar">
            <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>
            <nav> 
                <ul class="navbarList">
                    <li class="navbarListItems">
                        <a class=btn_1 href="index.html">Home</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="novedades.html">Novedades</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Smartphones">Smartphones</a>
                    </li>
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="Computadoras">Computadoras</a>
                    </li> -->
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="contacto.html">Contacto</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="nosotros.html">Nosotros</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Twitter">Twitter</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Facebook">Facebook</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Instagram">Instagram</a>
                    </li> -->
                </ul>
            </nav>
        </div>

        <main class="contenido">

            <div class="noticia">
               
                <div class="titular">
                    
                    <h1>Marvel anuncia NFT en colaboración con Veve</h1>
                    <h3>Marvel anuncia NFTs que los fans de todo el mundo podrán comprar en la tienda Veve Digital Collectibles.</h3>


                </div>

                <div class="noticiaFotoContenedor"><img class="noticiaFoto" src="img/art-04.png" alt="portada de noticia" ></div>

                <div class="noticiaCuerpo">
                    <p>Las NFT de Marvel y otros coleccionables se publicarán en la aplicación Veve Digital Collectibles de Orbis Blockchain.</p>
                    <p>La aplicación no sólo funcionará como un escaparate para los coleccionables, sino también como una plataforma en la que los fans pueden mostrar sus colecciones.</p>
                    <p>Los fans también podrán buscar cómics y coleccionables raros de NFT. Podrán comerciar con ellos en el mercado secundario o colocarlos en sus salas de exposición de colecciones totalmente personalizables.</p>
                    <p>Una característica única de la aplicación Veve es la experiencia de realidad mixta. Los usuarios pueden estar junto a sus objetos de colección NFT en el mundo real utilizando la realidad aumentada.</p>
                    <p>Veve no funciona en la cadena de bloques de Ethereum, a diferencia de otras plataformas de NFT. En su lugar, utiliza una blockchain en la que no se incentiva la competencia entre mineros. Por lo tanto, la plataforma consume un 99% menos de energía que ETH.</p>
                    <p>Ya en marzo, Veve anunció que planean convertirse en la primera plataforma de NFT 100% neutra en carbono. Lo harán comprando créditos de carbono iguales a la huella producida por su minería NFT.</p> 
                    <br>                 

                </div>
                <div class="noticiaVolverContenedor">
                    <a class="noticiaFuente" href="https://cryptomagazine.co/marvel-anuncia-nft-en-colaboracion-con-veve/" target="_blank">Link a la fuente</a>
                    <a class="noticiaFuente" href="index.html">Link a la página principal</a>
                </div>

                

            </div>

        </main>

        <aside class="sidebar">
            <div class="api" id="app">
                <h1>Listado de Precio de Bitcoin</h1>
                <P>Actualizado: {{time}}</P>

                <section v-if="errored">
                    <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente
                        mas tarde</p>
                </section>

                <section v-else>
                    <div v-if="loading">Cargando...</div>

                    <div v-else v-for="currency in info" class="currency">
                        {{ currency.description }}:
                        <span>
                            <span>{{ currency.rate_float | currencydecimal }}</span>
                        </span>
                    </div>

                </section>
            </div>
            <div>
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet modi tempora quisquam hic eveniet explicabo! Sed itaque aliquid, tempora illum, enim adipisci temporibus necessitatibus ipsa nulla impedit tempore, quis amet?
                Vero dolorum facilis velit quo odit possimus dicta impedit cumque fuga, enim veritatis omnis animi rem nemo accusamus accusantium? Ad impedit atque neque voluptatem totam non suscipit repudiandae voluptatibus aliquam.
                Laudantium fugit quae repudiandae velit voluptatem nisi, iure officia, a repellat ipsum nulla aliquid, sequi enim hic deleniti? Exercitationem repudiandae quaerat, doloribus voluptas animi porro iusto ab adipisci quia beatae.
                Consectetur sed, hic assumenda aut, itaque nostrum eum id harum nisi tempore omnis quisquam, rerum ab inventore nesciunt! Consectetur suscipit non iure architecto temporibus, rerum pariatur perspiciatis! A, sapiente officiis?
                Obcaecati, nostrum, id beatae veritatis illo sapiente adipisci voluptates voluptatibus illum ad expedita similique possimus doloribus tenetur quam quae amet voluptas voluptate consectetur aliquid dolorem explicabo inventore itaque labore? Beatae.
                Dolor quis quisquam enim eveniet quas voluptates a earum ducimus! Debitis tempora maiores quae suscipit, commodi quo culpa cupiditate sequi nihil ea, deleniti recusandae ratione dolore id, vitae cum! Expedita.
                Nisi ullam odio suscipit, itaque odit fugiat animi blanditiis labore magni adipisci ab similique assumenda reiciendis cum reprehenderit amet illo obcaecati earum voluptatem libero repellat. Voluptatibus, deserunt. Praesentium, atque ab.
                Debitis expedita nemo obcaecati pariatur cumque quibusdam modi aspernatur. Amet, nam perspiciatis nihil dolore autem consequatur officia dolorum, rerum sit maiores animi vero sed explicabo recusandae veritatis doloribus architecto corrupti!
                Obcaecati quia et sapiente quis, asperiores nulla voluptatum perferendis similique aperiam inventore. Voluptatum nesciunt aut iste suscipit accusantium fuga odit quibusdam neque fugiat facere consequatur totam nihil, nemo ipsam asperiores.
                Nemo soluta ratione, quae maxime quisquam ipsum quaerat explicabo distinctio molestiae obcaecati quod? Voluptatem delectus aut placeat, sapiente, aliquid voluptatibus nobis magni, consequuntur dolore nulla debitis quis architecto rem animi?
                Provident commodi, facilis esse totam, optio explicabo aliquid quidem harum, reiciendis mollitia tempore vel cupiditate veritatis eveniet qui iusto nemo rerum? Voluptatem tempore eos numquam laborum assumenda fugit sit quos?
                Illo, tenetur reiciendis accusamus aperiam sint dignissimos amet repellat sit, commodi facilis, earum sed blanditiis doloribus ad error velit est nam quibusdam consequuntur ea dolorum quod tempore! Ea, est pariatur.
                Necessitatibus, perspiciatis? Suscipit possimus est dolores sapiente eveniet tempore sequi, a distinctio eos aliquam beatae illo ea vel quo cumque, voluptas sint ex consequuntur mollitia repellat. Corporis aut perferendis rem?
                Soluta architecto accusantium reprehenderit quod fugiat vel mollitia non voluptate deserunt consequatur laborum nam sapiente sint consequuntur facilis, autem dolores, nihil eius, harum quo commodi! Quibusdam totam aut eum ex.</h1>
            </div>

        </aside>

        <footer class="footer">
            <div>
                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                <br>
                <div>
                    <h1 class="footerTexto">Marcos Miranda / Carlos Blua / Miguel Marulanda -- TPO Comisión 22527</h1>
                </div>
            </div>
        </footer>



    </div>

    <script src="js/bitcoin.js"></script>

</body>


</html>