<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aboreto&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="icon" href="img/red-en-la-nube.ico">



    <title>TP0 Inicial</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/e547f827f8.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="contenedor">
        <header class="header">
            <!-- <h1>logo?</h1> -->
            <br>
            <h1>ENCABEZADO</h1>

        </header>

        <div class="navbar">
            <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>
            <nav> 
                <ul class="navbarList">
                    <li class="navbarListItems">
                        <a class=btn_1 href="index.html">Home</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Novedades">Novedades</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Smartphones">Smartphones</a>
                    </li>
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="Computadoras">Computadoras</a>
                    </li> -->
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="contacto.html">Contacto</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Nosotros">Nosotros</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Twitter">Twitter</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Facebook">Facebook</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Instagram">Instagram</a>
                    </li> -->
                </ul>
            </nav>
        </div>

        <main class="contenido">

            <div class="noticia">
               
                <div class="titular">
                    
                    <h1>La ESA avala la tecnología de Sateliot para conectar dispositivos 5G IoT con un satélite</h1>
                    <h3>La Agencia Espacial Europea ha respaldado la tecnología impulsada por Sateliot y sus socios para conectar dispositivos del estándar IoT desde su futura constelación de satélites.</h3>


                </div>

                <div class="noticiaFotoContenedor"><img class="noticiaFoto" src="img/art-06.png" alt="portada de noticia" ></div>

                <div class="noticiaCuerpo">
                    <p>La Agencia Espacial Europea ha respaldado la tecnología impulsada por Sateliot y sus socios para conectar dispositivos del estándar IoT desde su futura constelación de satélites de baja órbita.</p>
                    <p>El fundador y consejero delegado de la firma, Jaume Sanpera, ha destacado en un comunicado que esto supone un reconocimiento al trabajo "largo" y complejo a nivel técnico" que ha realizado la compañía.</p>
                    <p>La compañía se encuentra en proceso de levantar una nueva ronda de financiación de 100 millones de euros y recientemente anunció que tenía precontratos valorados en 1.000 millones de euros con clientes de su programa de acceso temprano.</p>
                    <p>La tecnología aprobada permitirá extender la conectividad 5G NB-IoT a cualquier zona del planeta donde no hay actualmente cobertura terrestre sin que los operadores tengan que realizar cambios en su hardware y a un bajo coste.</p>
                    <p>La aprobación de este nuevo estándar ha contado además con un amplio consenso por parte de los principales operadores, compañías e instituciones de toda la cadena de valor, entre los que se encuentran compañías como Vodafone, Deutsche Telekom, China Mobile, Sony, Nokia, Ericsson, Eutelsat o Siemens.</p>
                    <br>                 

                </div>
                <div class="noticiaVolverContenedor">
                    <a class="noticiaFuente" href="https://www.europapress.es/economia/noticia-agencia-espacial-europea-avala-tecnologia-sateliot-conectar-dispositivos-5g-iot-satelite-20221018143521.html" target="_blank">Link a la fuente</a>
                    <a class="noticiaFuente" href="index.html">Link a la página principal</a>
                </div>

                

            </div>

        </main>

        <aside class="sidebar">
            <div class="api" id="app">
                <h1>Listado de Precio de Bitcoin</h1>
                <P>Actualizado: {{time}}</P>

                <section v-if="errored">
                    <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente
                        mas tarde</p>
                </section>

                <section v-else>
                    <div v-if="loading">Cargando...</div>

                    <div v-else v-for="currency in info" class="currency">
                        {{ currency.description }}:
                        <span>
                            <span>{{ currency.rate_float | currencydecimal }}</span>
                        </span>
                    </div>

                </section>
            </div>
            <div>
                <h1>SIDEBAR</h1>
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati quas ducimus perspiciatis
                    asperiores
                    praesentium repellat magni aspernatur blanditiis enim aliquid? Unde aspernatur praesentium nihil,
                    exercitationem earum nostrum saepe soluta eveniet.</h1>
            </div>
        </aside>

        <footer class="footer">
            <h1>Soy un footer</h1>
            <div>
                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                <br>
                <h1 class="footerTexto">Marcos Miranda / Carlos Blua / Miguel Marulanda -- TPO Comisión 22527</h1>
            </div>
        </footer>


    </div>

    <script src="js/bitcoin.js"></script>

</body>


</html>