<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aboreto&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="icon" href="img/red-en-la-nube.ico">



    <title>TP0 Inicial</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/e547f827f8.js" crossorigin="anonymous"></script>

</head>

<body>
    <div class="contenedor">
        <header class="header">
            <!-- <h1>logo?</h1> -->
            <br>
            <h1>ENCABEZADO</h1>

        </header>

        <div class="navbar">
            <input type="checkbox" id="menu-check">
                <label id="menu" for="menu-check">
                    <span id="menu-abrir">&#9776;</span>
                    <span id="menu-cerrar">X</span>
                </label>
            <nav> 
                <ul class="navbarList">
                    <li class="navbarListItems">
                        <a class=btn_1 href="index.html">Home</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Novedades">Novedades</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Smartphones">Smartphones</a>
                    </li>
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="Computadoras">Computadoras</a>
                    </li> -->
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="contacto.html">Contacto</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Nosotros">Nosotros</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Twitter">Twitter</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Facebook">Facebook</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Instagram">Instagram</a>
                    </li> -->
                </ul>
            </nav>
        </div>

        <main class="contenido">

            <div class="noticia">
               
                <div class="titular">
                    
                    <h1>Mercedes incluira en sus vehiculos el sistema de audio espacial de Apple</h1>
                    <h3>Mercedes incorporara en sus vehiculos un sistema de audio de alta calidad de Apple, te invitamos a conocer un poco mas de sus caracteristicas.</h3>


                </div>

                <div class="noticiaFotoContenedor"><img class="noticiaFoto" src="img/art-03.png" alt="portada de noticia" ></div>

                <div class="noticiaCuerpo">
                    <p>La función Spatial Audio en Apple Music existe desde hace algún tiempo si usa algunos de los auriculares de la compañía. Sin embargo, Mercedes también quiere llevar esta característica exclusiva a sus autos. Será una parte intrínseca del llamado sistema de información y entretenimiento MBUX en el futuro.</p>
                    <p>En los vehículos de Mercedes, la función estará disponible junto con Dolby Atmos y usará el sistema de altavoces dentro del automóvil. El modelo que cuenta con Spatial Audio es la edición limitada Maybach de Virgil Abloh que comenzó a comercializarse en septiembre.</p>
                    <p>El automóvil está equipado con 31 altavoces en total: 6 altavoces 3D que suenan desde arriba, 4 altavoces cerca de los oídos alrededor de los asientos delanteros, 8 transductores de sonido dentro de los asientos, 2 amplificadores y un subwoofer de 18,5 litros. La potencia total del sistema tiene una potencia nominal de 1.750 W.</p>
                    <p>Además de Maybach, Spatial Audio pronto se encontrará en EQS, EQS SUV, EQE y S-Class. La compañía no especificó cuándo estará disponible la función para otros modelos, pero dijo "pronto".</p>
                    <p>No hace falta decir que Spatial Audio está disponible solo para clientes de pago de Apple Music.</p>  
                    <br>                 

                </div>
                <div class="noticiaVolverContenedor">
                    <a class="noticiaFuente" href="https://www.arenaev.com/mercedes_brings_apples_spatial_audio_to_its_cars-news-872.php" target="_blank">Link a la fuente</a>
                    <a class="noticiaFuente" href="index.html">Link a la página principal</a>
                </div>

                

            </div>

        </main>

        <aside class="sidebar">
            <div class="api" id="app">
                <h1>Listado de Precio de Bitcoin</h1>
                <P>Actualizado: {{time}}</P>

                <section v-if="errored">
                    <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente
                        mas tarde</p>
                </section>

                <section v-else>
                    <div v-if="loading">Cargando...</div>

                    <div v-else v-for="currency in info" class="currency">
                        {{ currency.description }}:
                        <span>
                            <span>{{ currency.rate_float | currencydecimal }}</span>
                        </span>
                    </div>

                </section>
            </div>
            <div>
                <h1>SIDEBAR</h1>
                <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati quas ducimus perspiciatis
                    asperiores
                    praesentium repellat magni aspernatur blanditiis enim aliquid? Unde aspernatur praesentium nihil,
                    exercitationem earum nostrum saepe soluta eveniet.</h1>
            </div>
        </aside>

        <footer class="footer">
            <h1>Soy un footer</h1>
            <div>
                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                <br>
                <h1 class="footerTexto">Marcos Miranda / Carlos Blua / Miguel Marulanda -- TPO Comisión 22527</h1>
            </div>
        </footer>



    </div>

    <script src="js/bitcoin.js"></script>

</body>


</html>