<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Aboreto&family=Pacifico&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="icon" href="img/red-en-la-nube.ico">



    <title>TP0 Inicial</title>

    <!-- Esto es solamente para la Api de Bitcoin -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Hasta acá -->

    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/e547f827f8.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="contenedor">
        <header class="header encabezado">
            <!-- <h1>logo?</h1> -->
            <br>
            <h1>TECHNEWS</h1>

        </header>

        <div class="navbar">
            <input type="checkbox" id="menu-check">
            <label id="menu" for="menu-check">
                <span id="menu-abrir">&#9776;</span>
                <span id="menu-cerrar">X</span>
            </label>
            <nav>
                <ul class="navbarList">
                    <li class="navbarListItems">
                        <a class=btn_1 href="index.html">Home</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="novedades.html">Novedades</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Smartphones">Smartphones</a>
                    </li>
                    <li class="navbarListItems"> 
                        <a class=btn_1 href="Computadoras">Computadoras</a>
                    </li> -->
                    <li class="navbarListItems">
                        <a class=btn_1 href="contacto.html">Contacto</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="nosotros.html">Nosotros</a>
                    </li>
                    <!-- <li class="navbarListItems">
                        <a class=btn_1 href="Twitter">Twitter</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Facebook">Facebook</a>
                    </li>
                    <li class="navbarListItems">
                        <a class=btn_1 href="Instagram">Instagram</a>
                    </li> -->
                </ul>
            </nav>
        </div>

        <main class="contenido">

            <div class="contacto">
                <h2>CONTÁCTANOS</h2>
                <p>Nos comunicaremos lo antes posible</p>
            </div>
            <div class="imagenFormulario">
                <img src="img/Computación-1.jpg" alt="Mundo_Conectado">
                
            </div>
            
            
            <div class="table contacto">
                <form id="my-form" action="https://formspree.io/f/xpznldek" method="POST">
                    <label for="nombre">
                        <legend>Nombre y Apellido:</legend>
                        <br>
                        <input id="name" type="text" name="name" required>
                    </label>

                    <br>
                    <br>

                    <label for="email">
                        <legend>Mail:</legend>
                        <br>
                        <input name="email" type="text" id="email" required>
                    </label>

                    <br>
                    <br>

                    <label for="message">
                        <legend>Mensaje:</legend>
                        <br>
                        <textarea id="message" name="message" cols="30" rows="30"></textarea>
                    </label>

                    <br>
                    <br>

                    <button class="boton" type="submit">Enviar</button>
                    <button class="boton" type="reset">Borrar datos</button>


                    <br>
                    <p id="my-form-status"></p>
                </form>
                        

        </main>

        <aside class="sidebar">
            <div class="api" id="app">
                <h1>Listado de Precio de Bitcoin</h1>
                <P>Actualizado: {{time}}</P>

                <section v-if="errored">
                    <p>Lo sentimos, no es posible obtener la información en este momento, por favor intente nuevamente
                        mas tarde</p>
                </section>

                <section v-else>
                    <div v-if="loading">Cargando...</div>

                    <div v-else v-for="currency in info" class="currency">
                        {{ currency.description }}:
                        <span>
                            <span>{{ currency.rate_float | currencydecimal }}</span>
                        </span>
                    </div>

                </section>
            </div>
            <div>
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet modi tempora quisquam hic eveniet explicabo! Sed itaque aliquid, tempora illum, enim adipisci temporibus necessitatibus ipsa nulla impedit tempore, quis amet?
                Vero dolorum facilis velit quo odit possimus dicta impedit cumque fuga, enim veritatis omnis animi rem nemo accusamus accusantium? Ad impedit atque neque voluptatem totam non suscipit repudiandae voluptatibus aliquam.
                Laudantium fugit quae repudiandae velit voluptatem nisi, iure officia, a repellat ipsum nulla aliquid, sequi enim hic deleniti? Exercitationem repudiandae quaerat, doloribus voluptas animi porro iusto ab adipisci quia beatae.
                Consectetur sed, hic assumenda aut, itaque nostrum eum id harum nisi tempore omnis quisquam, rerum ab inventore nesciunt! Consectetur suscipit non iure architecto temporibus, rerum pariatur perspiciatis! A, sapiente officiis?
                Obcaecati, nostrum, id beatae veritatis illo sapiente adipisci voluptates voluptatibus illum ad expedita similique possimus doloribus tenetur quam quae amet voluptas voluptate consectetur aliquid dolorem explicabo inventore itaque labore? Beatae.
                Dolor quis quisquam enim eveniet quas voluptates a earum ducimus! Debitis tempora maiores quae suscipit, commodi quo culpa cupiditate sequi nihil ea, deleniti recusandae ratione dolore id, vitae cum! Expedita.
                Nisi ullam odio suscipit, itaque odit fugiat animi blanditiis labore magni adipisci ab similique assumenda reiciendis cum reprehenderit amet illo obcaecati earum voluptatem libero repellat. Voluptatibus, deserunt. Praesentium, atque ab.
                Debitis expedita nemo obcaecati pariatur cumque quibusdam modi aspernatur. Amet, nam perspiciatis nihil dolore autem consequatur officia dolorum, rerum sit maiores animi vero sed explicabo recusandae veritatis doloribus architecto corrupti!
                Obcaecati quia et sapiente quis, asperiores nulla voluptatum perferendis similique aperiam inventore. Voluptatum nesciunt aut iste suscipit accusantium fuga odit quibusdam neque fugiat facere consequatur totam nihil, nemo ipsam asperiores.
                Nemo soluta ratione, quae maxime quisquam ipsum quaerat explicabo distinctio molestiae obcaecati quod? Voluptatem delectus aut placeat, sapiente, aliquid voluptatibus nobis magni, consequuntur dolore nulla debitis quis architecto rem animi?
                Provident commodi, facilis esse totam, optio explicabo aliquid quidem harum, reiciendis mollitia tempore vel cupiditate veritatis eveniet qui iusto nemo rerum? Voluptatem tempore eos numquam laborum assumenda fugit sit quos?
                Illo, tenetur reiciendis accusamus aperiam sint dignissimos amet repellat sit, commodi facilis, earum sed blanditiis doloribus ad error velit est nam quibusdam consequuntur ea dolorum quod tempore! Ea, est pariatur.
                Necessitatibus, perspiciatis? Suscipit possimus est dolores sapiente eveniet tempore sequi, a distinctio eos aliquam beatae illo ea vel quo cumque, voluptas sint ex consequuntur mollitia repellat. Corporis aut perferendis rem?
                Soluta architecto accusantium reprehenderit quod fugiat vel mollitia non voluptate deserunt consequatur laborum nam sapiente sint consequuntur facilis, autem dolores, nihil eius, harum quo commodi! Quibusdam totam aut eum ex.</h1>
            </div>

        </aside>

        <footer class="footer">
            <div>
                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
                <br>
                <div>
                    <h1 class="footerTexto">Marcos Miranda / Carlos Blua / Miguel Marulanda -- TPO Comisión 22527</h1>
                </div>
            </div>
        </footer>

    </div>

    <script src="js/bitcoin.js"></script>

    <script>
        var form = document.getElementById("my-form");
        
        async function handleSubmit(event) {
          event.preventDefault();
          var status = document.getElementById("my-form-status");
          var data = new FormData(event.target);
          fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
          }).then(response => {
            if (response.ok) {
              status.innerHTML = "Gracias por contactarnos!";
              form.reset()
            } else {
              response.json().then(data => {
                if (Object.hasOwn(data, 'errors')) {
                  status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                } else {
                  status.innerHTML = "Oops! Ocurrió un problema al enviar los datos"
                }
              })
            }
          }).catch(error => {
            status.innerHTML = "Oops! Ocurrió un problema al enviar los datos"
          });
        }
        form.addEventListener("submit", handleSubmit)
    </script>
    
</body>


</html>